.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

#main {
  display: grid;
  grid-template-areas: 
  "nav header"
  "nav main";
  grid-template-columns: 25% 75%;
  grid-template-rows: 125px 1fr;
  overflow: auto;
  height: calc(100vh);
}

.Header {
  background-color: rgb(23, 11, 49);
  width: 100%;
  grid-area: header;
}

.Folder {
  background-color: #270f92;
  grid-area: nav;
}

.Note {
  background-color: #321c94;
  grid-area: main;
}
