.App {
  text-align: center;
}

#root {
  display: grid;
  grid-template-areas: "leftColumn", "rightColumn";
  grid-template-columns: 25% 75%;
  grid-template-rows: 125px 1fr;
}

.Header {
  background-color: #321c94;
  grid-area: header;
}

.Folder {
  background-color: #321c94;
}

.Note {
  background-color: #321c94;
  
}
